body {
  display:flex;
  flex-flow:column nowrap;
  justify-content:flex-start;
  align-items:center;
  min-height:100vh;
}


.form {
  position:relative; min-width:50em; height:25em;
  overflow:hidden;
  border:thin solid rgba(0,0,0,0.1);
}
  
.form > * {
  position:absolute; top:0; left:0;
}

.form h1 {
  opacity:0.3;
}

input {
  border:0 none;
}

input[type="radio"],
input[type="checkbox"] {
  align-self:center; /*if stretch, nonconsistent*/
}

:not(fieldset)>.signup__field {
  width:50%;
  box-shadow:0 0 20px rgba(0,0,0,0.5);
  background:white;
  display:flex;
}

:not(fieldset)>.signup__field input {
  flex:1 1 auto;
  padding:0 1ch;
}

:not(fieldset)>.signup__field label {
  padding:0.5em;
  color:hsl(0,0%,20%);
  border-top:thin solid black;
}


/*
fieldset
*/

fieldset {
  box-shadow:0 0 20px rgba(0,0,0,0.5);
  padding:1em;
}

legend {
  position:relative; top:0.5em; left:0;
  border-top:thin solid black;
  box-sizing:border-box;
}

fieldset > :not(legend) {
  margin:1em 0;
}

/*
Signal
*/

input:required:valid {
  box-shadow:inset 0 0 10px green;
  background:hsla(120,50%,50%,0.5);
}

input:required:invalid {
  box-shadow:inset 0 0 10px red;
  background:hsla(0,50%,50%,0.5);
}

/*
Submit btn
*/

button { 
  display:block;
  width:5em;
  height:5em;
  border-radius:2.5em;
  background-image:none;
}


/*
checkbox
*/
.form>.signup__field:nth-of-type(5) {
  width:25%;
}
.form>.signup__field:nth-of-type(5) label {
  flex:1 1 auto;
  text-align:center;
  padding:1em;
}
#amazing {
  flex:0 0 2em;
}

